{% extends 'base.html.twig' %}

{% block title %}Edit Erabiltzailea{% endblock %}

{% block body %}
    <h1>Edit Erabiltzailea</h1>

    {{ include('erabiltzailea/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('erabiltzailea_index') }}">back to list</a>

    {{ include('erabiltzailea/_delete_form.html.twig') }}
{% endblock %}
