{% extends 'base.html.twig' %}

{% block title %}New Erabiltzailea{% endblock %}

{% block body %}
    <h1>Create new Erabiltzailea</h1>

    {{ include('erabiltzailea/_form.html.twig') }}

    <a href="{{ path('erabiltzailea_index') }}">back to list</a>
{% endblock %}
